@model MovieLens.Models.RatingsModel

@foreach (var rating in Model.Ratings.OrderBy(r => r.MovieTitle))
{
    <div>
        <a class="movie" data-id="@rating.MovieId">[@rating.Stars] &mdash; @rating.MovieTitle</a>
    </div>
}

<br />

<div>Ratings: @Model.Ratings.Count</div>
<div>Elapsed Time: @Model.ElapsedTime ms</div>