@model MovieLens.Models.RecommendationModel
           
<div>
People who liked @Model.MovieTitle also liked...
</div>

<br />

@foreach (var rec in Model.Recommendations.OrderByDescending(r => r.Stars))
{
    <div>
        [@rec.Stars.ToString("0.0")] (@rec.Count) &mdash; @rec.MovieTitle
    </div>
}

<br />

<div>Elapsed Time: @Model.ElapsedTime ms</div>