@{
    ViewBag.Title = "Users Search";
}

<script type="text/javascript">
    $(function () {
        $("#usersSearch").click(function () {
            var id = $("#userId").val();
            if (!isNaN(id) && id) {
                $("#ratingsResults").load(
                    "@Url.Action("Ratings", "Movies")",
                    { "userId" : id });
            }
        });
    });
</script>

<h2>Users Search</h2>

<p>
    User Id: <input id="userId" type="text" /> <button id="usersSearch">Search</button>
</p>

<table style="width:100%;table-layout:fixed;">
    <tr>
        <td>
            <h2 style="text-align:center">User Ratings</h2>
        </td>
        <td>
            <h2 style="text-align:center">Recommendations</h2>
        </td>
    </tr>
    <tr>
        <td>
            <div id="ratingsResults">
            </div>
        </td>
        <td>
            <div id="recommendationResults">
            </div>
        </td>
    </tr>
</table>