@{
    ViewBag.Title = "Users Search";
}

<script type="text/javascript">
    $(function () {
        $("#usersSearch").click(function () {
            var id = $("#userId").val();
            if (!isNaN(id) && id) {
                $("#ratingsResults").load(
                    "@Url.Action("Ratings", "Movies")",
                    { "userId" : id });
            }
        });
    });
</script>

<h2>Users Search</h2>

<p>
    User Id: <input id="userId" type="text" /> <button id="usersSearch">Search</button>
</p>

<div style="width:49%;display:inline-block;">
    <h2 style="text-align:center">User Ratings</h2>
    <div id="ratingsResults">
    </div>
</div>

<div style="width:49%;display:inline-block;">
    <h2 style="text-align:center">Recommendations</h2>
    <div id="recommendationResults">
    </div>
</div>